
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text - @ViewBag.Title </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*<ul class="nav navbar-nav navbar-left navbar-collapse collapse">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Translate.GetTraduction(EnumRessource.GEN_LBL_RULES).Text <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_DISCIPLINE_POWER).Text, "Index", "Disciplines", new { area = "Rules" }, new { })
                        </li>
                    </ul>
                </li>
            </ul>*@
            <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
                <li class="dropdown">
                    @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_CONNEXION).Text, "Login", "Auth", new { area = "AuthentificationManager" }, null)
                </li>
                <li class="dropdown">
                    @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_REGISTRATION).Text, "Register", "Auth", new { area = "AuthentificationManager" }, null)
                </li>
            </ul>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <footer class="navbar-fixed-bottom text-center footer-style">
            <p>&copy; @DateTimeOffset.Now.Year - @Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text - powered by Zesso</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/unbostrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/custom-validator-auth")

    @RenderSection("scripts", required: false)
</body>
</html>
