<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text - @ViewBag.Title </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
</head>
<body>

    <img class="sizable" src="~/Content/Images/FondDefenseByNight-01.jpg" />

    <nav class="main-navbar navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Translate.GetTraduction(EnumRessource.GEN_LBL_RULES).Text
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_DISCIPLINE_POWER).Text, "Index", "Disciplines", new { area = "Rules" }, new { @class = "dropdown-item" })
                            @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_CLANS).Text, "Index", "Clans", new { area = "Rules" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @CurrentUser.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="javascript:alert('Non développé')" class="dropdown-item">@Translate.GetTraduction(EnumRessource.GEN_LBL_ACCOUNT).Text</a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Logout", "Auth", new { area = "AuthentificationManager" })" class="dropdown-item">@Translate.GetTraduction(EnumRessource.GEN_LBL_DISCONNECT).Text</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/unbostrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)

</body>
</html>