<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text - @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">@Translate.GetTraduction(EnumRessource.GEN_LBL_CREATE_CHARACTER).Text</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@CurrentUser.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">@Translate.GetTraduction(EnumRessource.GEN_LBL_ACCOUNT).Text</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Auth")">@Translate.GetTraduction(EnumRessource.GEN_LBL_DISCONNECT).Text</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <footer class="navbar-fixed-bottom text-center">
            <hr />
            &copy; @DateTimeOffset.Now.Year - @Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text - powered by Zesso
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/unbostrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>