@model UserConnexionViewModel

@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_CONNEXION).Text;
}

<div class="container containerHeight">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col">
            <h1 class="title">
                @Translate.GetTraduction(EnumRessource.GEN_LBL_CONNEXION).Text
            </h1>
            <hr />
            <div class="col-12 alert alert-danger" role="alert" @(ViewData.ModelState.IsValid ? "hidden" : "")>
                @Html.ValidationSummary(true)
            </div>
            <div class="col">
                @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { id = "connexionForm" }))
                {
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="UserName">@Translate.GetTraduction(EnumRessource.GEN_LBL_ALIAS).Text</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "KikooDarkDuLouvre", id = "inputMail" })
                        </div>
                        <div class="form-group col">
                            <label for="Password">@Translate.GetTraduction(EnumRessource.GEN_LBL_PASSWORD).Text</label>
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "***********", id = "inputPwd" })
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary col">@Translate.GetTraduction(EnumRessource.GEN_LBL_CONNEXION).Text</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("img.sizable").hide();
        });
    </script>
}