@model UserConnexionViewModel

@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_CONNEXION).Text;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="title">@Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text</h1>
    </div>
    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(true)
        </div>
    }

    @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-horizontal", id = "connexionForm" }))
    {
        <div class="panel-body">
            @Html.AntiForgeryToken()

            @*<div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_ALIAS).Text</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "MonPseudoDu95" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger " })
                </div>
            </div>*@

            <div class="input-group">
                <span class="input-group-addon"><i class="fa-address-book"></i></span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Translate.GetTraduction(EnumRessource.GEN_LBL_ALIAS).Text })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger " })
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_PASSWORD).Text</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", placeholder = "******" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger " })
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">@Translate.GetTraduction(EnumRessource.GEN_LBL_CONNEXION).Text</button> |
            @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_REGISTRATION).Text, "Register")
        </div>
    }
</div>


@Html.Hidden("err_alias_missing", Translate.GetTraduction(EnumErrorsMessages.ERR_ALIAS_MISSING).Text)
@Html.Hidden("err_password_missing", Translate.GetTraduction(EnumErrorsMessages.ERR_PASSWORD_MISSING).Text)