@model UserRegisterViewModel

@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_REGISTRATION).Text;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="title">@Translate.GetTraduction(EnumRessource.GEN_LBL_SITE_NAME).Text</h1>
    </div>
    @Html.ValidationSummary(true)

    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "form-horizontal", id = "registrationForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_FIRSTNAME).Text</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Pierre" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_LASTNAME).Text</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Poloujak" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_ALIAS).Text</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Alias, new { @class = "form-control", placeholder = "MonPseudoDu95" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_EMAIL).Text</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", placeholder = "monemail@fournisseur.com" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_PASSWORD).Text</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", placeholder = "******" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_CONFIRM_PASSWORD).Text</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="ConfirmPassword" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Translate.GetTraduction(EnumRessource.GEN_LBL_MOBILE_PHONE).Text</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control", placeholder = "0601020304" })
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">@Translate.GetTraduction(EnumRessource.GEN_LBL_REGISTRATION).Text</button> |
            @Html.ActionLink(Translate.GetTraduction(EnumRessource.GEN_LBL_CONNEXION).Text, "Login")
        </div>
    }
</div>

@Html.Hidden("err_firstname_missing", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_firstname_to_short", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_firstname_to_long", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_lastname_missing", Translate.GetTraduction(EnumErrorsMessages.ERR_LASTNAME_MISSING).Text)
@Html.Hidden("err_lastname_to_short", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_lastname_to_long", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_alias_missing", Translate.GetTraduction(EnumErrorsMessages.ERR_ALIAS_MISSING).Text)
@Html.Hidden("err_alias_to_short", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_alias_to_long", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_email_missing", Translate.GetTraduction(EnumErrorsMessages.ERR_EMAIL_MISSING).Text)
@Html.Hidden("err_password_missing", Translate.GetTraduction(EnumErrorsMessages.ERR_PASSWORD_MISSING).Text)
@Html.Hidden("err_password_toshort", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_password_not_matching", Translate.GetTraduction(EnumErrorsMessages.ERR_FIRSTNAME_MISSING).Text)
@Html.Hidden("err_birthdate_missing", Translate.GetTraduction(EnumErrorsMessages.ERR_BIRTHDATE_MISSING).Text)