@model List<ClanViewModel>

<div class="tab-content">
    @foreach (var clan in Model)
    {
        <div id="@clan.ClanKey" aria-labelledby="link_@clan.ClanKey" class="tab-pane fade show @(Model.IndexOf(clan) == 0 ? "active" : "")" role="tabpanel">
            <div class="text-center">
                <h3 class="title">
                    <a class="anchor" name="@clan.ClanKey"></a>
                    @clan.Name
                </h3>
                @clan.Surname
            </div>
            <hr />
            <div class="text-center">
                @foreach (var disciplines in clan.Disciplines)
                {
                    <a href="/Rules/Disciplines#@Html.Raw(disciplines.DisciplineKey)">@Html.Raw(disciplines.DisciplineName)</a>

                    if (clan.Disciplines.IndexOf(disciplines) < clan.Disciplines.Count - 1)
                    {
                        <i class="fas fa-minus"></i>
                    }
                }
            </div>

            <div>
                <h4>@Translate.GetTraduction(EnumRessource.GEN_LBL_HISTORY).Text</h4>
                <p class="articleJustify">@Html.Raw(clan.History)</p>
            </div>

            <div>
                <h4>@Translate.GetTraduction(EnumRessource.GEN_LBL_ORGANISATION).Text</h4>
                <p class="articleJustify">@Html.Raw(clan.Organisation)</p>
            </div>

            <div>
                <h4>@Translate.GetTraduction(EnumRessource.GEN_LBL_WEAKNESS).Text</h4>
                <p class="articleJustify">@Html.Raw(clan.Weakness)</p>
            </div>

            <div>
                <h4>@Translate.GetTraduction(EnumRessource.GEN_LBL_CLAN_ATOUT).Text</h4>
                @foreach (var atout in clan.Atouts)
                {
                    <span><strong>@atout.Name : (@atout.Cost @Translate.GetTraduction(EnumRessource.GEN_LBL_POINT).Text)</strong> <i>@atout.Description</i></span>
                    <br />
                    <br />
                }
            </div>
        </div>
    }
</div>
