
@model List<DisciplineViewModel>

@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_RULES).Text;
}

<div class="container">
    <h1 class="title well">@Translate.GetTraduction(EnumRessource.GEN_LBL_DISCIPLINE).Text</h1>

    <div class="alert alert-info">@Translate.GetTraduction(EnumRessource.GEN_TXT_DETAIL_DISCIPLINE).Text</div>

    @foreach (var discipline in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    @Html.ActionLink(discipline.DisciplineName, "Detail", "Disciplines", new { area = "Rules", disciplineKey = discipline.DisciplineKey }, new { @class = "title" })
                </div>
                <div class="panel-body overflowed-text">
                    <p class="text-justify">
                        @Html.Raw(discipline.Description)
                    </p>
                </div>
                <div class="panel-footer overflowed-footer">
                    <p class="text-center">
                        <strong> @Translate.GetTraduction(EnumRessource.GEN_LBL_TEST_SCORE).Text</strong>
                    </p>
                    <p>
                        @Html.Raw(discipline.TestScore)
                    </p>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    @Styles.Render("~/Content/Rules")
    @Scripts.Render("~/bundle/Rules/Discipline")
}

