<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model[EnumRessource.GEN_LBL_SITE_NAME] - @Model[EnumRessource.GEN_LBL_CONNEXION]</title>
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customLogin")
    @RenderSection("head", required: false)
</head>
<body id="loginPageBody">

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/unbostrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom-validator-login")
    @Scripts.Render("~/bundles/initializeRegister")
    @RenderSection("scripts", required: false)
</body>
</html>
