@model DefenseByNight.Models.UserConnexionViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Traductions[EnumRessource.GEN_LBL_SITE_NAME] - @Model.Traductions[EnumRessource.GEN_LBL_CONNEXION]</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")

</head>
<body>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="title">@Model.Traductions[EnumRessource.GEN_LBL_SITE_NAME]</h4>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Connexion", "SignIn", new { area = "Login" }, FormMethod.Post, new { @class = "form-horizontal", id = "connexionForm" }))
                        {

                            @Html.AntiForgeryToken()
                            HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

                            <div class="form-group">
                                @Html.Label(Model.Traductions[EnumRessource.GEN_LBL_EMAIL], new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger " })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label(Model.Traductions[EnumRessource.GEN_LBL_PASSWORD], new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger " })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">@Model.Traductions[EnumRessource.GEN_LBL_CONNEXION]</button>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/custom-validator")

</body>
</html>


